.left-wrapper {
  display: flex;
  align-items: center;
  .left-wrapper-title {
    font-size: 24rpx;
    padding-left: 12rpx;
  }
}

.top-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
